body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:760px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:80px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:80px;
}
#u1 {
  position:absolute;
  left:2px;
  top:32px;
  width:756px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:180px;
  top:156px;
  width:390px;
  height:339px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:349px;
}
#u3 {
  position:absolute;
  left:2px;
  top:162px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:232px;
  top:232px;
  width:49px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:232px;
  top:280px;
  width:71px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:317px;
  top:232px;
  width:211px;
  height:27px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:27px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9 {
  position:absolute;
  left:317px;
  top:276px;
  width:211px;
  height:27px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:27px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10 {
  position:absolute;
  left:316px;
  top:173px;
  width:142px;
  height:31px;
  font-family:'Candara Bold', 'Candara';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#E20031;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:31px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:572px;
  top:7px;
  width:172px;
  height:61px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:61px;
}
#u13 {
  position:absolute;
  left:2px;
  top:22px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:10px;
  top:4px;
  width:192px;
  height:70px;
  font-family:'Felix Titling Bold', 'Felix Titling';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#E20031;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:70px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:337px;
  top:442px;
  width:100px;
  height:30px;
  font-family:'Arial Negrita', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u17 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:310px;
  top:505px;
  width:139px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:26px;
}
#u18_img.mouseOver {
}
#u18.mouseOver {
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
  text-shadow:5px 5px 5px rgba(0, 0, 0, 0.3490196);
  -webkit-text-shadow:5px 5px 5px rgba(0, 0, 0, 0.3490196);
  -moz-text-shadow:5px 5px 5px rgba(0, 0, 0, 0.3490196);
}
#u20 {
  position:absolute;
  left:359px;
  top:326px;
  width:137px;
  height:56px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:56px;
}
#u21 {
  position:absolute;
  left:2px;
  top:20px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:359px;
  top:392px;
  width:137px;
  height:25px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u23 {
  position:absolute;
  left:232px;
  top:396px;
  width:93px;
  height:16px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:232px;
  top:346px;
  width:125px;
  height:16px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:228px;
  top:318px;
  width:298px;
  height:108px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:108px;
}
#u28 {
  position:absolute;
  left:2px;
  top:46px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
